<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bike Store</title>
    <link rel="stylesheet" href="../home.css">
</head>
<body>
    <header>
        <h1>Welcome to Our Bike Store</h1>
    </header>

    <%- include('partials/nav') %>

    <div class="container">
        <% categories.forEach(category => { %>
            <div class="category">
                <a href="/category/<%= category.id %>">
                    <h2><%= category.name %></h2>
                    <img src="/images/<%= category.name.toLowerCase() %>_bike.jpg" alt="<%= category.name %> Bike">
                </a>
            </div>
        <% }); %>
    </div>

    <%- include('partials/footer') %>
</body>
</html>
